@{
    ViewData["Title"] = "Vendas";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/venda.css" />

<section>
    <div class="text-center container">
        <br />
        <h2>Vendas</h2>

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-ban"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>

        <div class="form-group mt-3 mb-3" style="display: table;">
            <button onclick="modalExclusao();" type="button" class="btn btn-success" color:white;">Registrar Venda</button>
        </div>

        <table id="list_items" class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th>Cliente</th>
                    <th>Usuário Inclusão</th>
                    <th>Data</th>
                    <th>Qtd. Itens</th>
                    <th>Forma Pagamento</th>
                    <th>Valor Total</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot class="table-info">
                <tr>
                    <th>Cliente</th>
                    <th>Usuário Inclusão</th>
                    <th>Data</th>
                    <th>Qtd. Itens</th>
                    <th>Forma Pagamento</th>
                    <th>Valor Total</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </tfoot>
        </table>
    </div>


</section>

<div id="modalExclusao" style="text-align:center; color:black">
    <div class="modal fade" id="modal-exclusao" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Iniciar Venda</h4>

                </div>
                <div class="modal-body">
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <h5> Escolha o cliente </h5>
                        </div>

                        <div class="col-sm-12">

                            <select id="select-clientes" class="form-select">
                                @foreach (var item in @ViewBag.Clientes)
                                {
                                    <option value="@item.Guuid">@item.Nome @item.Sobrenome</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-confirmar-exclusao" class="btn btn-primary pull-right">Iniciar Venda</button>
                    <button type="button" class="btn btn-secondary pull-left" onclick="fecharModal();">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#btn-confirmar-exclusao').on('click', iniciarVenda);
        listar();
    });

    function listar() {
        $('#list_items').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("VendasPagination", "Venda")`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'nome_cliente' },
                { 'mData': 'nome_usuario_inclusao' },
                { 'mData': 'data_inclusao' },
                { 'mData': 'qtd_itens' },
                { 'mData': 'tipo_pagamento' },
                { 'mData': 'valor_total' },
                { 'mData': 'sts_venda' },
                { 'mData': 'acao' }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            }
        });
    };

    function modalExclusao() {
        $('#modal-exclusao').modal('show');

    }

    function iniciarVenda() {
        let guuid_cliente = $('#select-clientes').val();
        window.location.href = `@Url.Action("RegistrarVenda", "Venda")?guuid_cliente=${guuid_cliente}`;
    }

    function fecharModal() {
        $('#modal-exclusao').modal('hide');
    }

</script>