@{
    ViewData["Title"] = "Recuperaçao de Senha";
    Layout = "_LayoutLogin";
}

<div class="center-form background-image-login">
    <form class="card">
        <div class="titulo-login">
            <h3>LOGIN</h3>
        </div>

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger">
                    <i class="fa fa-ban"></i>
                    <button class="close" onclick="fechar_alerta();" aria-hidden="true" type="button">×</button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success">
                    <i class="fa fa-ban"></i>
                    <button class="close" onclick="fechar_alerta();" aria-hidden="true" type="button">×</button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="login@login.com.br">
        </div>

        <div class="form-group">
            <button class="btn btn-success" id="btn-entrar" onclick="EsqueceuSenha();">Recuperar</button>
        </div>


        <div class="form-group voltar">
            <a href="@Url.Action("Index", "Login")">Voltar</a>
        </div>

    </form>
</div>

<script>

    function EsqueceuSenha() {
        let email = $('#email').val();
        $('#msgError #erroMsg').html();
        $('#item_form #msgError').hide();
        $.ajax({
            type: 'POST',
            data: {
                'email': email,
            },
            url: '@Url.Action("EsqueceuSenha", "Login")',
            success: function (result) {
                if (result.is_action) {
                    $('.overlay').hide();
                    $('#errorModal').hide();
                    $('#msgSucess #sucessMsg').html('Nova senha enviada com sucesso!!!');
                    $('#sucessModal').show();
                    $('#email').val('');
                }
                else
                {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                    $('#sucessModal').hide();
                }
            },
            error: function (error) {
                $('#msgError #erroMsg').html(result.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function fechar_alerta() {
        $('#errorModal').hide();
        $('#sucessModal').hide();
    }


</script>
