html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100vh;
}

.center-form {
    position: relative;
    min-height: 100vh;
}

div.center-form > form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.background-image-login {
    background-image: url('/images/logo1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;   
}

.titulo-login {
    text-align: center;
}
#btn-entrar {
    width: 100%;
}
.card {
    border: 50px solid rgb(255 255 255 / 20%);
    border-radius: 31px;
    background: rgb(255 255 255/ 90%);
}
