
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color:#E4E9F7;*/
    background-image: url(/images/BG.svg);
    background-size: cover;
}

.navbar-toggler {
    border-radius: 2.25rem !important;
    width: 3.5rem !important;
    height: 3.5rem !important;
}

.navbar-dark .navbar-toggler {
    color: #ffc1071f!important;
}

.offcanvas-header {
    padding: 2rem 2rem!important;
}

.offcanvas-end {
    border-radius: 0rem 2rem 2rem 0rem!important;
}

.offcanvas-body {
    padding: 2rem 2rem!important;
}

.offcanvas {
    border-radius: 0rem 3rem 0 0rem!important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.navbar {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar-light .navbar-toggler:focus {
    color: rgb(0 0 0 / 5%)!important;
}

.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 5%)!important;
    border-radius: 50%!important;
}

.nav-link.active {
    color: white !important;
    height: 60px;
    width: 100%;
    border: 2px solid white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #25B7D3;
    font-size: 18px;
    transform: scale(1.07);
    text-decoration: none;
}

.nav-item .nav-link.active a {
    border: 2px solid white!important;
    color: #fff!important;
    font-weight: 500;
}

.nav-item .nav-link a:hover {
    color: white !important;
    height: 60px;
    width: 100%;
    border: 2px solid white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #25B7D3;
    font-size: 18px;
    text-decoration: none;
    transform: scale(1.07);
    font-weight: 500;
}

.nav-item .nav-link a {
    color: #B1B1B1 !important;
    height: 60px;
    width: 100%;
    border: 2px solid #B1B1B1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    transition: transform 0.4s ease-in-out;
    text-decoration: none;
}

.card {
    border-radius: 0rem 2rem 0rem 0rem !important;
    transition: transform 0.4s ease-in-out;
    border-radius: 1.2rem 2rem 0rem 1.2rem !important;
    border: none!important;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 2%)!important;
}

.card:hover {
    border-radius: 1.2rem 2rem 0rem 1.2rem !important;
    transform: scale(1.07);
    box-shadow: 1px 12px 65px 1px #ffc10714 !important;
}

.footer[b-16pd6dch9f] {
    background: #ffffff7a !important;
}

.offcanvas-start {
    width: 270px !important;
    transition: transform 0.6s ease-in-out;
}

.fade-in-left {
    -webkit-animation: fade-in-left 2s ease infinite;
    animation: fade-in-left 2s ease infinite;
}

.animate__animated .animate__backInLeft {
    --animate-duration: 10s;
}

.tl_principal {
    animation: slideInLeft;
    animation-duration: 2s;
}

.tl_secundario {
    animation: slideInLeft;
    animation-duration: 2.2s;
}

.img-anim {
    animation: fadeInLeft;
    animation-duration: 2.5s;
}

.card_02 {
    animation: fadeInLeft;
    animation-duration: 2s;
}

.card_03 {
    animation: fadeInLeft;
    animation-duration: 2.5s;
}

.card_04 {
    animation: fadeInLeft;
    animation-duration: 3s;
}

.card_05 {
    animation: fadeInLeft;
    animation-duration: 3.5s;
}

.footer {
    width: 100%;
    height: 3rem;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin: 0rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .15;
}


#eye_senha1 {
    position: absolute;
    right: 30px;
    top: 22%;
}

#eye_senha2 {
    position: absolute;
    right: 30px;
    top: 52%;
}

#eye_senha3 {
    position: absolute;
    right: 30px;
    top: 82%;
}


/* LOADER */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before, .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)
    }

    50% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)
    }

    75%, 100% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)
    }
}