@{
    ViewData["Title"] = "Clientes";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/cliente.css" />

<section>
    <div class="text-center container">
        <h2>CLIENTES</h2>

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-ban"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>

        <div class="form-group mt-3 mb-3" style="display: table;">
            <button type="button" onclick="modalCliente()" class="btn btn-success" sstyle="color:white;">Novo Cliente</button>
        </div>

        <table id="list_items" class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Whatsapp</th>
                    <th>Data Cadastro</th>
                    <th>Editar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot class="table-info">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Whatsapp</th>
                    <th>Data Cadastro</th>
                    <th>Editar</th>
                    <th>Ação</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="modalCliente" class="modalCliente">
        <div class="modal fade" id="modal-Cliente" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Novo Cliente</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="container col-sm-12 mt-1">
                        <div id="errorModal-cliente" style="display: none">
                            <div id="msgError-cliente" class="alert alert-danger alert-dismissible fade show">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <span id="erroMsg-cliente"></span>
                            </div>
                        </div>
                        <div id="sucessModal-cliente mt-1" style="display: none">
                            <div id="msgSucess-cliente" class="alert alert-success alert-dismissible fade show">
                                <i class="fa fa-check"></i>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <span id="sucessMsg-cliente"></span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="nome">Nome (*)</label>
                                <input type="text" placeholder="Nome do Cliente" id="nome" name="nome"  class="form-control" required>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="sobrenome">Sobrenome</label>
                                <input type="text" placeholder="Sobrenome do Cliente" id="sobrenome" name="sobrenome"  class="form-control">
                            </div>


                            <div class="form-group col-sm-6  mt-4">
                                <label for="nome">Telefone (*)</label>
                                <input type="text" placeholder="Telefone do Cliente" id="telefone" name="telefone" class="form-control" maxlength="11" required>
                            </div>

                            <div class="form-group col-sm-6  mt-4">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Email do Cliente" id="email" name="email" class="form-control">
                            </div>

                            <div class="form-group col-sm-12 text-start mt-2">
                                <input type="checkbox" id="is_whatsapp" name="is_whatsapp" />
                                <label for="is_whatsapp">Marque aqui se este telefone também for whatsapp</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="btn-confirmar" class="btn btn-success pull-right" onclick="SalvarCliente();">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script type="text/javascript">

    $(document).ready(function () {
        listar();
    });

    $('#telefone').on('keypress', maskNumber);

    function maskNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode > 31 && charCode < 48) || charCode > 57) {
            return false;
        }
        return true;
    }

    function listar() {
        $('#list_items').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("ClientesPagination", "Cliente")`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'nome' },
                { 'mData': 'email' },
                { 'mData': 'telefone' },
                { 'mData': 'is_whatsapp' },
                { 'mData': 'data_cadastro' },
                { 'mData': 'editar' },
                { 'mData': 'acao' },
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            }
        });
    };

    function modalCliente() {
        $('#modal-Cliente').modal('show');
    }

    function SalvarCliente() {
        $.ajax({
            type: 'POST',
            data: {
                'Nome': $('#nome').val(),
                'Sobrenome': $('#sobrenome').val(),
                'Email': $('#email').val(),
                'Telefone': $('#telefone').val(),
                'Is_Whatsapp': $('#is_whatsapp').is(':checked')
            },
            url: '@Url.Action("SalvarCliente", "Cliente")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess-cliente #sucessMsg-cliente').html('Cliente adicionado com sucesso.');
                    $('#sucessModal-cliente').show();

                    $('#nome').val('');
                    $('#sobrenome').val('');
                    $('#email').val('');
                    $('#telefone').val('');
                    $('#is_whatsapp').prop('checked', false);

                    listar();
                }
                else {
                    $('#msgError-cliente #erroMsg-cliente').html(result.error);
                    $('#errorModal-cliente').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function reativar(guuid) {
        $.ajax({
            type: 'POST',
            data: {
                'guuid': guuid
            },
            url: '@Url.Action("ReativarCliente", "Cliente")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Cliente reativado com sucesso.');
                    $('#sucessModal').show();
                    listar();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function desativar(guuid) {
        $.ajax({
            type: 'POST',
            data: {
                'guuid': guuid
            },
            url: '@Url.Action("DesativarCliente", "Cliente")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Cliente desativado com sucesso.');
                    $('#sucessModal').show();
                    listar();
                }
                else {
                    $('#msgError-cliente #erroMsg-cliente').html(result.error);
                    $('#errorModal-cliente').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

</script>