@{
    ViewData["Title"] = "Produtos";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/produto.css" />

<section>
    <div class="text-center container">

        <h2>Produtos</h2>

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-ban"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>

        <div class="form-group mt-1 mb-3" style="display: table;">
            <button onclick="modalProduo();" class="btn btn-success" style="color:white;">Novo Produto</button>
        </div>

        <table id="list_items" class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th>Nome</th>
                    <th>Cód. Interno</th>
                    <th>Cód. Barras</th>
                    <th>Descrição</th>
                    <th>Estoque</th>
                    <th>Data Cadastro</th>
                    <th>Valor Unit.</th>
                    <th>Editar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot class="table-info">
                <tr>
                    <th>Nome</th>
                    <th>Cód. Interno</th>
                    <th>Cód. Barras</th>
                    <th>Descrição</th>
                    <th>Estoque</th>
                    <th>Data Cadastro</th>
                    <th>Valor Unit.</th>
                    <th>Editar</th>
                    <th>Ação</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="modalProduto" class="modalProduto">
        <div class="modal fade" id="modal-Produto" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Novo Produto</h3>
                        <button class="btn-close" id="fechar" onclick="modalfechar()"></button>
                    </div>

                    <div class="container col-sm-12 mt-1">
                        <div id="errorModal-produto" style="display: none">
                            <div id="msgError-produto" class="alert alert-danger alert-dismissible fade show">
                                <i class="fa fa-ban"></i>
                                <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>
                                <span id="erroMsg-produto"></span>
                            </div>
                        </div>
                        <div id="sucessModal-produto" style="display: none">
                            <div id="msgSucess-produto" class="alert alert-success alert-dismissible fade show">
                                <i class="fa fa-check"></i>
                                <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>
                                <span id="sucessMsg-produto"></span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="nome">Nome (*)</label>
                                <input type="text" placeholder="Nome do Produto" id="nome" name="nome" class="form-control" required>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="valor">Valor Unitário (*)</label>
                                <input type="text" placeholder="Valor do Produto" id="valor" name="valor" class="form-control" maxlength="11" required>
                            </div>

                            <div class="form-group col-sm-6 mt-3">
                                <label for="codigo_barras">Código de Barras</label>
                                <input type="text" placeholder="Código de Barras" id="codigo_barras" name="codigo_barras" class="form-control" maxlength="13">
                            </div>

                            <div class="form-group col-sm-6 mt-3">
                                <label for="nome">Descrição</label>
                                <input type="text" placeholder="Descrição do Produto" id="descricao" name="descricao" class="form-control">
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="btn-confirmar" class="btn btn-success pull-right" onclick="SalvarProduto();">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script type="text/javascript">

    $(document).ready(function () {
        listar();
    });

    $('#codigo_barras').on('keypress', maskNumber);

    function maskNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode > 31 && charCode < 48) || charCode > 57) {
            return false;
        }
        return true;
    }

    $("#valor").inputmask('currency', {
        "autoUnmask": true,
        radixPoint: ",",
        groupSeparator: ".",
        allowMinus: false,
        prefix: 'R$ ',
        digits: 2,
        digitsOptional: false,
        rightAlign: false,
        unmaskAsNumber: true
    });

    function listar() {
        $('#list_items').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("ProdutosPagination", "Produto")`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'nome' },
                { 'mData': 'codigo_interno' },
                { 'mData': 'codigo_barras' },
                { 'mData': 'descricao' },
                { 'mData': 'estoque' },
                { 'mData': 'data_cadastro' },
                { 'mData': 'valor_unitario' },
                { 'mData': 'editar' },
                { 'mData': 'acao' },
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            }
        });
    };

    function modalProduo() {
        $('#modal-Produto').modal('show');
    }

    function modalfechar() {
        $('#modal-Produto').modal('hide');
    }

   function SalvarProduto() {
        fechar_alerta();

        $.ajax({
            type: 'POST',
            data: {
                'Nome': $('#nome').val(),
                'Valor': $('#valor').val(),
                'Codigo_Barras': $('#codigo_barras').val(),
                'Descricao': $('#descricao').val()
            },
            url: '@Url.Action("SalvarProduto", "Produto")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess-produto #sucessMsg-produto').html('Produto adicionado com sucesso.');
                    $('#sucessModal-produto').show();

                    $('#nome').val('');
                    $('#valor').val('');
                    $('#codigo_barras').val('');
                    $('#descricao').val('');

                    listar();
                }
                else {
                    $('#msgError-produto #erroMsg-produto').html(result.error);
                    $('#errorModal-produto').show();
                }
            },
            error: function (error)
            {
                $('#msgError-produto #erroMsg-produto').html(error.error);
                $('#errorModal-produto').show();
            },
            datatype: 'json'
        });
    }

    function reativar(guuid) {
        fechar_alerta();
        $.ajax({
            type: 'POST',
            data: {
                'guuid': guuid
            },
            url: '@Url.Action("ReativarProduto", "Produto")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Produto reativado com sucesso.');
                    $('#sucessModal').show();
                    listar();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function desativar(guuid) {
        fechar_alerta();
        $.ajax({
            type: 'POST',
            data: {
                'guuid': guuid
            },
            url: '@Url.Action("DesativarProduto", "Produto")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Produto desativado com sucesso.');
                    $('#sucessModal').show();
                    listar();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function fechar_alerta() {
        $('#errorModal').hide();
        $('#sucessModal').hide();
        $('#errorModal-produto').hide();
        $('#sucessModal-produto').hide();
    }


</script>